.container {
    position: relative;
    /* padding:15px; */
    /* color: #337AB7; */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    /* font-weight:bold; */
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.header {
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 80%;
    margin-bottom: 20px;
    z-index: 200;
}

.header_logo {
    /* color: rgb(248, 249, 250); */
    /* font-size: 20px; */
    width: 300px;
    /* background-color: #e03e25; */

    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    /* padding-left: 20px; */
    color: rgb(248, 249, 250);
    text-decoration: none;


}

.header_nav {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.header_ul {
    list-style: none;
    display: flex;
    width: 40%;
    padding: 0;
    justify-content: space-between;
}

.header_nav_item.active a {
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    /* padding-left: 20px;         */
    color: rgb(248, 249, 250);
    text-decoration-line: underline;
}

.header_nav_item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    /* padding-left: 20px; */
    padding-right: 40px;
    
    color: rgb(248, 249, 250);
}

.cart {
    position: relative;
}

.total {
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(100, 149, 237, 0.5);
border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    position: relative;
    top: -48px;
    left: 8px;
}

.profile_button {
    display: flex;
    flex-direction: row;
    /* padding: 5px;
    margin: 5px; */
    align-items: center;
}

.cart {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.cart:hover {
    /* background-color: rgba(255, 255, 255,.2); */
    border: 1px solid rgba(105, 105, 105, 0.3);
    border-radius: 50%;
}

/* .header_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid rgba(105, 105, 105, 0.3);
    padding: 5px;
    margin: 5px;
    background: rgba(250, 250, 250, 0.9);
    cursor: pointer;
} */
/* .header_button:hover{
 
    border: 2px solid rgba(105, 105, 105, 0.8);
} */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}